{% extends "main/base.html" %}
{% load bootstrap %}
{% load main_extras %}
{% block javascript %}
{#    <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>#}
    <script src="{{ STATIC_URL }}js/jquery.validationEngine-ru.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/validationEngine.jquery.css" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span6">
            <h5 class="caption">КНИГИ ДЛЯ ТЕХ, КТО БЫЛ, ЕСТЬ И БУДЕТ СТУДЕНТОМ</h5>
        </div>
        <div class="span10">
            <h5 class="caption">ИНТЕРЕСНО, ПОЧУВСТВУЕТЕ ЛИ ВЫ УДИВЛЕНИЕ, ОБНАРУЖИВ</h5>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div id="verse">
                <h3 class="hide"></h3>
                <p>Студентом быть!<br>
                Так круто! Кайф!<br>
                </p>
                <p>
                В такие годы: мечтай, студент!<br>
                И думай, обо всем на свете.<br>
                </p>
                <p>
                Но вот беда!<br>
                Известны мысли эти.<br>
                Но эти слова три, решают все!<br>
                Как ни крути.<br>
                Интрига? Да-а.<br>
                Так покупай, читай, пиши.<br>
                </p>
            </div>

        </div>
        <div class="span10">
            <div class="row">
                <div class="span5 book_cont">
                    <img id="white_book" class="book" src="{{ STATIC_URL }}images/maket_white_small.png" alt="">

                    {#            <img src="http://placehold.it/640x460">#}
                </div>
                <div class="span5 book_cont">
                    {#            <img class="buy" src="{{ STATIC_URL }}/buy.png">#}
                    <img id="red_book" class="book" src="{{ STATIC_URL }}images/maket_red_small.png" alt="">

                </div>
            </div>
            <div id="price_row" class="row">
                <div class="span5">
                    <span class="price">{{ white_price|stringformat:"d руб." }}</span>
                    <a id="buy_white" class="buy_btn btn large" href="#">КУПИТЬ</a>
                </div>
                <div class="span5">
                    <span class="price">{{ red_price|stringformat:"d руб." }}</span>
                    <a id="buy_red" class="buy_btn btn large" href="#">КУПИТЬ</a>
                </div>
            </div>
        </div>
    </div>
    

    <div id="order_dialog" class="modal hide fade">
        <div class="content">
        <!--{% include "main/order_dialog_step1.html" %}-->
        </div>
    </div>
    
{% endblock %}
