{% extends "main/base.html" %}
{% load bootstrap %}
{% load main_extras %}
{% block javascript %}
{#    <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>#}
    <script src="{{ STATIC_URL }}js/jquery.validationEngine-ru.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/validationEngine.jquery.css" type="text/css"/>
{% endblock %}
{% block content %}

    <div id="more_page_row" class="row">
        <div class="span6 offset2">
{#            <p class="announce">#}
{#                <span class="announce1">Ребята,</span>#}
{#                <span class="announce2">готовьтесь</span>#}
{#                <span class="announce3">к</span>#}
{#                <span class="announce4">seamless <img class="smile_big" src="{{ STATIC_URL }}images/smile.png" alt=":-)"></span>#}
{#                <span class="announce5">Coming soon.</span>#}
{#                <span class="announce6">Winter 2014.</span>#}
{#            </p>#}
            <p>
                Ребята, готовьтесь к <span class="seamless">seamless <img src="{{ STATIC_URL }}images/smile.png"></span>.
                Comming soon. <span class="seamless">Winter 2014</span>.
            </p>
            <br>
            <p>
                Ищем гениальных студентов.
Сейчас нужны те, кто шарит в видеодизайне.
Направляйте ваши резюме на e-mail: info@mislistudenta.ru
            </p>
        </div>
        <div class="span7 offset1">
            <img id="empty_book" src="{{ STATIC_URL }}images/empty_book.png">
        </div>
    </div>

{% endblock %}
