{% extends "main/base.html" %}
{% load bootstrap %}
{% load main_extras %}
{% block javascript %}
{#    <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>#}
    <script src="{{ STATIC_URL }}js/jquery.validationEngine-ru.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/validationEngine.jquery.css" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div id="order_num" class="span16">
            <p class="pull-right">{% if last_order_number %}За {{ today|date:"d.m.y" }} оформлен уже {{ last_order_number }} заказ.{% endif %}</p>
        </div>
    </div>
    <div id="more_page_row" class="row first_content_row">
        <div class="span6 offset2">
{#            <p class="announce">#}
{#                <span class="announce1">Ребята,</span>#}
{#                <span class="announce2">готовьтесь</span>#}
{#                <span class="announce3">к</span>#}
{#                <span class="announce4">seamless <img class="smile_big" src="{{ STATIC_URL }}images/smile.png" alt=":-)"></span>#}
{#                <span class="announce5">Coming soon.</span>#}
{#                <span class="announce6">Winter 2014.</span>#}
{#            </p>#}
            <p>
                Друзья!<br>
Скоро в продаже еще одна сенсационная книга.<br>
И как вы без нее жили раньше?<br>
Хотите еще? Мы тоже!<br>

Послать ваши мысли можно на e-mail:<br>
            <span class="email">info<img class="icon" src="{{ STATIC_URL }}images/at.png">mislistudenta.ru</span>
            </p>
            <p>
                Сюда же можно послать не только мысли, но и резюме
                (Сейчас это очень актуально для студентов, увлекающихся профи видеодизайном).
            </p>
            <p>
                Студентов, разбирающихся в других областях мы оповестим чуть позже.<br>
Вы - ценные кадры. Мониторьте объявления.
            </p>
            <p>
                <span class="seamless">seamless<img src="{{ STATIC_URL }}images/smile-brown.png"> coming soon. winter <span class="year">2014</span>.</span>
            </p>
        </div>
        <div class="span7 offset1">
            <div class="row">
                <div class="span5 book_cont1">
                    <a id="blond_book" class="book_link" href="{{ STATIC_URL }}images/blond_big.png">
                        <img class="big_book" src="{{ STATIC_URL }}images/blond_small.png" alt="">
                    </a>
                </div>
            </div>
            <div id="price_row" class="row">
                <div class="span5 offset1">
                    <span class="price">{{ blond_price|stringformat:"d руб." }}</span>
                    <a id="buy_blond" class="buy_btn btn large" href="#">КУПИТЬ</a>
                </div>
            </div>
        </div>
    </div>

    <div id="order_dialog" class="modal hide fade">
        <div class="content">
            <!--{% include "main/order_dialog_step1.html" %}-->
        </div>
    </div>

{% endblock %}
