{% load bootstrap %}
<div class="modal-header">
    <a href="#" class="close" title="Закрыть">&times;</a>
    <h3>Заполните поля заказа</h3>
</div>
<div class="modal-body">
    <form id="order_form">
        {% csrf_token %}
        {{ order_form|bootstrap }}
        <div id="delivery_price" class="hide" data-delivery_price={{ delivery_price }}></div>
        <input type="hidden" name="step" value="1" />
    </form>
</div>
<div class="modal-footer">
    <button id="order_dialog_btn_step1" class="btn primary">Далее</button>
</div>