{% load main_extras %}
<div class="modal-header">
    <a href="#" class="close" title="Закрыть">&times;</a>
    <h3>Проверьте данные и закажите</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <th>Ежедневник:</th>
            <td>"{{ book }}"</td>
        </tr>
        {% for field in check_form.visible_fields %}
            {% if field.value %}
                <tr>
                    <th>{{ field.label }}:</th>
                    <td>{{ field|display_value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th>Стоимость заказа:</th>
            <td><strong>{{ total|stringformat:"d руб." }}</strong></td>
        </tr>
    </table>
{#    <div class="row">#}
{#        <h3 class="pull-right">Стоимость заказа: {{ total|stringformat:"d руб." }}</h3>#}
{#    </div>#}
    <form id="order_form" action="" method="post" class="hide">{% csrf_token %}
        {% for field in check_form %}{{ field.as_hidden }}
        {% endfor %}
        <input type="hidden" name="step" value="2" />
    </form>
</div>
<div class="modal-footer">
    <button id="order_dialog_btn_step2" class="btn success">ЗАКАЗАТЬ</button>
    <button id="order_dialog_btn_back_step2" class="btn primary">&lt;&lt;</button>
    <img id="loader" src="{{ STATIC_URL }}images/ajax-loader.gif" alt="Идет обработка..." class="hide pull-right">
</div>