<div class="modal-header">
    <a href="#" class="close" title="Закрыть">&times;</a>
    <h3>Готово</h3>
</div>
<div class="modal-body">
    <h3>Уважаемый клиент!</h3>
    <ul class="unstyled order_details">
        <li><span class="order_details_label">Номер заказа</span>: <strong id="order_number">{{ order.order_number }}</strong>.</li>
        <li><span class="order_details_label">Стоимость</span>: <strong>{{ total|stringformat:"d" }}</strong> руб.</li>
        <li><span class="order_details_label">Форма оплаты</span>: <strong>{{ order.get_payment_method_display }}</strong>.</li>
        <li>Подтверждение заказа направлено на {{  order.customer.email }}.</li>
    </ul>
    <p>

        <input type="checkbox" id="subscribe" name="subscribe" checked="true">
        <span>хочу узнавать новое</span>
    
    </p>
    <p>
        Благодарим вас за покупку.
    </p>
</div>
<div class="modal-footer">
    <div class="row">
    <p class="pull-right"><em>Мысли проактивно</em></p>
    </div>
    <a href="" id="order_dialog_btn_finish" class="btn primary"><img src="{{ STATIC_URL }}images/smile-white.png">K</a>
</div>